#divv{
    background-color:orange;
    width: 90%;
    height: 220px;
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 0.5px;
}

#h1{
    color: orange;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    width: 24%;
    margin: auto;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
}

#h2{
    color: white;
    margin: auto;
    font-size: 20px;
}


input{
    height: 30px;
    width:70%;
}

button{
    height: 37px;
    width: 13%;
}
#myTable{
    background-color: orange;
    width: 90%;
    margin: auto;
    color: white;
}

#liste{
    margin-top: 20px;
    
}
.g_button{
    height: 10px;
    width: 30px;
    display: inline-block;
    color: white;
    margin-left: 80%;
    padding-left: 10px;
    cursor: pointer;
}

